{{define "title"}} New {{.DocName}} Document {{end}}


{{define "styles"}}
  <style>
  label {
    display: block;
  }
  form div {
    margin-bottom: 10px;
  }
  input, select, textarea {
    width: 300px;
  }
  input[type=submit], input[type=checkbox] {
    width:auto;
  }
  </style>
{{end}}


{{define "main"}}
  <h3>New {{.DocName}} Document</h3>

  <form method="post" action="">
    {{range .DDs}}
      <div>
        {{ if eq .Type "Section Break"}}
          <h4>{{.Label}}</h4>
        {{ else }}
          <label>{{.Label}}</label>
        {{ end }}

        {{ if eq .Type "Check"}}
          <input type="checkbox" name="{{.Name}}">

        {{else if eq .Type "Data"}}
          {{ if .Required}}
            <input type="text" name="{{.Name}}" required>
          {{ else }}
            <input type="text" name="{{.Name}}">
          {{ end }}

        {{else if eq .Type "Date"}}
          {{ if .Required }}
            <input type="date" name="{{.Name}}" required>
          {{ else }}
            <input type="date" name="{{.Name}}">
          {{end}}

        {{ else if eq .Type "Datetime"}}
          {{ if .Required }}
            <input type="datetime-local" name={{.Name}} required>
          {{else}}
            <input type="datetime-local" name="{{.Name}}">
          {{end}}

        {{else if eq .Type "Email"}}
          {{if .Required}}
            <input type="email" name="{{.Name}}" required>
          {{else}}
            <input type="email" name="{{.Name}}">
          {{end}}

        {{else if eq .Type "Float"}}
          {{if .Required}}
            <input type="number" step="0.0000001" name="{{.Name}}" required>
          {{else}}
            <input type="number" step="0.0000001" name="{{.Name}}">
          {{end}}

        {{else if or (eq .Type "Int") (eq .Type "Link")}}
          {{if .Required}}
            <input type="number" name="{{.Name}}" required>
          {{else}}
            <input type="number" name="{{.Name}}">
          {{end}}

        {{ else if eq .Type "Read Only"}}
          <input type="text" name="{{.Name}}" disabled>

        {{ else if eq .Type "Select"}}
          <select name="{{.Name}}">
            {{range .OtherOptions}}
              <option>{{.}}</option>
            {{end}}
          </select>

        {{else if eq .Type "Text"}}
          {{if .Required}}
            <textarea name="{{.Name}}" required></textarea>
          {{else}}
            <textarea name="{{.Name}}"></textarea>
          {{end}}

        {{else if eq .Type "URL"}}
          {{if .Required}}
            <input type="url" name="{{.Name}}" required>
          {{else}}
            <input type="url" name="{{.Name}}">
          {{end}}

        {{end}}
      </div>
    {{end}}

    <div>
      <input type="submit" value="Create" >
    </div>
  </form>

{{end}}
