<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Edit Roles of User {{.FullName}}</title>
  <style>
  #error-box {
    display: none;
    color: red;
  }
  </style>
</head>
<body>
  <h3> Edit Roles of User {{.FullName}} </h3>
  <h4> Delete Roles Section</h4>
  {{range .UserRoles}}
    <p>{{.}}&nbsp;&nbsp;<a href='/remove-role-from-user/{{$.UserId}}/{{.}}/'>Delete</a></p>
  {{end}}

  <h4>Add Roles Section</h4>
  <p>Enter each role on a new line.</p>
  <p id='error-box'></p>
  <form method="post" action="">
    <div>
      <label>Roles:</label> <br>
      <textarea name="roles" required></textarea>
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>

  <script src="/jquery/"></script>
  <script>
  var rolesStr = "{{.RolesStr}}";

  $(document).ready(function() {

    $('form input[type=submit]').click(function(e) {
      e.preventDefault();
      $('#error-box').hide();

      if (! $('form')[0].checkValidity()) {
        return;
      }

      var existingRoles = rolesStr.split(',');
      var newRoles = $('textarea[name=roles]').val().split('\n');
      for (i = 0; i < newRoles.length; i++) {
        if ( existingRoles.indexOf( newRoles[i] ) == -1) {
          $('#error-box').text("Some of the roles have not yet been created.");
          $('#error-box').show();
          return;
        }
      }

      $('form').submit();
    });
  });

  </script>
</body>
</html>
