{{define "title"}}Edit Document Structure of {{.DocumentStructure}}{{end}}


{{define "styles"}}
<style>
#change-name-error, #change-field-names-error {
  display: none;
  color: red;
}
body {
  margin-bottom: 50px;
}
</style>
{{end}}


{{define "main"}}
  <h2>Edit Document Structure of {{.DocumentStructure}}</h2>

  <h3>Change Name Form</h3>
  <p id="change-name-error"></p>
  <form id="change-name-form" method='post' action='/update-document-structure-name/{{.DocumentStructure}}/'>
    <div>
      <label>New Name</label>
      <input type="text" value="{{.DocumentStructure}}" name="new-name" />
    </div>
    <div>
      <input type="submit" value="Update" id="change-name-btn" />
    </div>
  </form>

  <h3>Change Field Label(s)</h3>
  <p id="change-field-labels-error"></p>
  <form id="change-field-labels-form" method="post" action='/update-field-labels/{{.DocumentStructure}}/'>
    <table id="new-field-labels-tbl">
      <thead>
        <tr>
          <td>No</td>
          <td>Old Label Name</td>
          <td>New Label Name</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <select name='old-field-label-1' class='old-field-label'>
              {{range $.OldLabels}}
                <option>{{.}}</option>
              {{end}}
            </select>
          </td>
          <td>
            <input type="text" name="new-field-label-1" class="new-field-label" required />
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div>
      <button type="button" id='add-field-btn'>Add Field</button>
    </div>
    <br>
    <div>
      <input type="submit" value="Update" id="update-field-labels-btn" />
    </div>
  </form>

  <h3>Delete Fields</h3>
  <p id="delete-fields-error"></p>
  <form id="delete-fields-form" action="/delete-fields/{{.DocumentStructure}}/" method="post">
    {{range $.OldLabels}}
      <div>
        <label> <input type="checkbox" name="delete-fields-checkbox" value="{{.}}" /> {{.}} </label>
      </div>
    {{end}}
    <br>
    <div>
      <input type="submit" value="Delete Selected Fields" />
    </div>
  </form>

  <h3>Change Fields Order</h3>
  <p id="change-fields-order-error"></p>
  <form id="change-fields-order-form" action="/change-fields-order/{{.DocumentStructure}}/" method="post">
    <table>
      <thead>
        <tr>
          <td>No</td>
          <td>Field Label </td>
          <td>Buttons</td>
        </tr>
      </thead>
      <tbody>
        {{range $index, $element :=  $.OldLabels}}
          <tr>
            <td>{{call $.Add $index 1}}</td>
            <td>{{$element}}</td>
            <td>
              <button type="button" class="move-up">Move Up</button>
              <button type="button" class="move-down">Move Down</button>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <br>
    <div>
      <input type="submit" value="Change Field Order" />
    </div>
  </form>

{{end}}

{{define "scripts"}}
<script>
var docNames = "{{.DocumentStructures}}";
var numberOfFields = {{.NumberofFields}};
var oldLabels = "{{.OldLabelsStr}}";

function recountChangeFieldTable() {
  $('#change-fields-order-form tbody tr').each(function(i, el) {
    var newNo = i + 1;
    $('td:first', el).text(newNo.toString());
  });
}

$(document).ready(function() {

  $('#change-name-btn').click(function(e) {
    e.preventDefault()

    docNamesList = docNames.split(',,,');
    if ( docNamesList.indexOf( $('input[name=new-name]').val() ) != -1 ) {
      $('#change-name-error').text('The document name is already taken.');
      $('#change-name-error').show();
      $('input[name=new-name]').css('border', '1px solid red');
      return;
    } else {
      $('#change-name-error').hide();
    }

    $('#change-name-form').submit();
  });

  $('#add-field-btn').click(function(e) {
    if ($('#new-field-labels-tbl tbody tr').length >= numberOfFields) {
      return
    }

    var currentNo = parseInt($('#new-field-labels-tbl tr:last td:first').text());
    var newNo = currentNo + 1;
    var html = $('#new-field-labels-tbl tr:last').html();
    var re = new RegExp(currentNo.toString(), 'g');
    html = html.replace(re, newNo.toString());

    html = "<tr>" + html + "</tr>";
    $('#new-field-labels-tbl tbody').append(html);

    $('html, body').scrollTop($(document).height());
  });

  $('.move-up').click(function(e) {
    e.preventDefault();

    var parentTr = $(e.target).parents('tr');
    var no = $('td:first ', parentTr).text()
    if (no == '1') {
      return
    }
    parentTr.insertBefore(parentTr.prev("tr"));
    // recount the numbers
    recountChangeFieldTable();
  });

  $('.move-down').click(function(e) {
    e.preventDefault();

    var parentTr = $(e.target).parents('tr');
    var total = $('#change-fields-order-form tbody tr').length;
    var no = $('td:first ', parentTr).text();
    if (no == total) {
      return
    }
    parentTr.insertAfter(parentTr.next("tr"));
    recountChangeFieldTable();
  });

  $('#change-fields-order-form input[type=submit]').click(function(e) {
    e.preventDefault();


    $('#change-fields-order-form tbody tr').each(function(i, el) {
      var html = "<input type='hidden' name='el-" + $('td:first', el).text() + "' value='";
      html += $('td:nth-child(2)', el).text() + "' />"
      $('#change-fields-order-form').append(html);
    });

    $('#change-fields-order-form').submit();
  });
});
</script>
{{end}}
