{{define "title"}}Edit Roles of User {{.FullName}} {{end}}


{{define "styles"}}
  <style>
  #error-box {
    display: none;
    color: red;
  }
  </style>
{{end}}


{{define "main"}}
  <h3> Edit Roles of User {{.FullName}} </h3>
  <h4> Delete Roles Section</h4>
  {{range .UserRoles}}
    <p>{{.}}&nbsp;&nbsp;<a href='/remove-role-from-user/{{$.UserId}}/{{.}}/'>Delete</a></p>
  {{end}}

  <h4>Add Roles Section</h4>
  <p id='error-box'></p>
  <form method="post" action="">
    {{range .Roles}}
      <div>
        <label> {{.}} <input type="checkbox" name="roles" value="{{.}}" /> </label>
      </div>
    {{end}}
    <br>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
{{end}}
