<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>List Document Structures</title>
  <style>
  li {
    margin-bottom: 20px;
  }
  a {
    margin-right: 20px;
  }

  .view-link {
    text-decoration: none;
    color: skyBlue;
  }
  .view-link:hover {
    text-decoration: underline;
  }
  .button-look {
    text-decoration: none;
    background-color: gray;
    color: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
  }
  .button-look:hover {
    background-color: #ccc;
  }
  </style>
</head>
<body>
  <h3>List of Document Structures</h3>
  <ol>
  {{range .DocNames}}
    <li>
      <a class='view-link' href='/doc/{{.}}/list/'>{{.}}</a>
      <a class="button-look" href='/doc/{{.}}/create/'>Create Document</a>
      <a class="button-look" href="/view-document-schema/{{.}}/">View Document Structure</a>
      <a class='button-look' href='/delete-document-schema/{{.}}/'>Delete</a>
    </li>
  {{end}}
  </ol>
</body>
</html>
