{{define "title"}}
  {{if eq .ListType "true-list"}}
    Lists of {{.DocumentStructure}} Documents
  {{else if eq .ListType "date-list"}}
    List of {{.DocumentStructure}} Documents created on {{.OptionalDate}}
  {{else if eq .ListType "search-list"}}
    A search on {{.DocumentStructure}} Documents
  {{else if eq .ListType "approved-list"}}
    List of Approved {{.DocumentStructure}} Documents
  {{else if eq .ListType "unapproved-list"}}
    List of Unapproved {{.DocumentStructure}} Documents
  {{end}}
{{end}}


{{define "styles"}}
  <style>
  thead {
    font-weight: bold;
  }
  td {
    border-right: 1px solid gray;
    padding: 5px;
  }
  td:last-child {
    border-right: none;
  }
  .button-look {
    text-decoration: none;
    background-color: gray;
    color: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
  }
  .button-look:hover {
    background-color: #ccc;
  }
  </style>
{{end}}


{{define "main"}}
  <h3>
    {{if eq .ListType "true-list"}}
      List of {{.DocumentStructure}} Documents
    {{else if eq .ListType "date-list"}}
      List of {{.DocumentStructure}} Documents created on {{.OptionalDate}}
    {{else if eq .ListType "search-list"}}
      A search on {{.DocumentStructure}} Documents
    {{else if eq .ListType "approved-list"}}
      List of Approved {{.DocumentStructure}} Documents
    {{else if eq .ListType "unapproved-list"}}
      List of Unapproved {{.DocumentStructure}} Documents
    {{end}}
  </h3>

  {{ if eq $.CreatePerm true}}
    <a class="button-look" href="/doc/{{.DocumentStructure}}/create/">Create</a>
  {{ end}}
  <a class="button-look" href="/doc/{{.DocumentStructure}}/date-lists/">Date Lists</a>
  <a class="button-look" href="/doc/{{.DocumentStructure}}/search/">Search</a>
  {{if $.HasApprovals}}
    <a class="button-look" href="/doc/{{.DocumentStructure}}/approved-list/">Approved</a>
    <a class="button-look" href="/doc/{{.DocumentStructure}}/unapproved-list/">Not Approved</a>
  {{end}}
  
  <br><br>

  <table>
    <thead>
      <tr>
        <td>id</td>
        {{range .ColNames}}
          <td>{{.}}</td>
        {{end}}
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{range .MyRows}}
        <tr>
          <td>{{.Id}}</td>
          {{range .ColAndDatas}}
            <td>{{.Data }}</td>
          {{end}}
          <td>
            <a class='button-look' href='/doc/{{$.DocumentStructure}}/update/{{.Id}}/'>
              {{ if or $.UpdatePerm .RowUpdatePerm}}
                View/Edit
              {{ else }}
                View
              {{ end }}
            </a>
            {{ if or $.DeletePerm .RowDeletePerm }}<a class='button-look' href='/doc/{{$.DocumentStructure}}/delete/{{.Id}}/'>Delete</a> {{end}}
            {{if $.HasApprovals}}
              <a class="button-look" href="/approvals/{{$.DocumentStructure}}/{{.Id}}/">
                {{if $.Approver}}
                  View/Edit
                {{else}}
                  View
                {{end}}
                Approvals
              </a>
            {{end}}
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>

  <br><br>
  <div id="pagination">
    {{if ne $.ListType "search-list"}}
      Pages:
      {{range .Pages}}
        {{if eq $.ListType "true-list"}}
          <a href='/doc/{{$.DocumentStructure}}/list/{{.}}/'>{{.}}</a>
        {{else if eq $.ListType "date-list"}}
          <a href='/doc/{{$.DocumentStructure}}/date-list/{{$.OptionalDate}}/{{.}}/'>{{.}}</a>
        {{else if eq $.ListType "approved-list"}}
          <a href="/doc/{{$.DocumentStructure}}/approved-list/{{.}}/">{{.}}</a>
        {{else if eq $.ListType "unapproved-list"}}
          <a href="/doc/{{$.DocumentStructure}}/unapproved-list/{{.}}/">{{.}}</a>
        {{end}}
      {{end}}
    {{end}}
  </div>

{{end}}
