{{define "title"}} Update {{.DocumentStructure}} Document {{end}}


{{define "styles"}}
  <style>
  label {
    display: block;
  }
  form div {
    margin-bottom: 10px;
  }
  input, select, textarea {
    width: 300px;
  }
  input[type=submit], input[type=checkbox] {
    width:auto;
  }
  .button-look {
    text-decoration: none;
    background-color: gray;
    color: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
  }
  .button-look:hover {
    background-color: #ccc;
  }
  #help-text-box {
    margin-bottom: 10px;
  }
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  table input, table select, table textarea {
    width: 200px;
  }
  table thead {
    font-weight: bold;
  }
  </style>
{{end}}


{{define "main"}}
  <h3>Update {{.DocumentStructure}} Document</h3>

  <span> Creation Date : <b>{{.Created}}</b></span><br>
  <span> Last Modification Date : <b>{{.Modified}}</b></span><br>
  <span> Created By : <b>{{.FirstName}} {{.Surname}} with User id {{.CreatedBy}} </b></span><br><br>
  {{ if $.DeletePerm }}
    <a class='button-look' href='/doc/{{.DocumentStructure}}/delete/{{.Id}}/'>Delete</a><br><br>
  {{end}}

  {{if ne .HelpText ""}}
    <h4>Help Text</h4>
    <div id="help-text-box">
      {{call .UndoEscape .HelpText}}
    </div>
  {{end}}

  <form method="post" action="" enctype="multipart/form-data">
    {{range .DocAndStructures}}
      <div>
        {{ if eq .Type "Section Break"}}
          <h4>{{.Label}}</h4>
        {{ else }}
          <label>{{.Label}}</label>
        {{ end }}

        {{if eq .Type "Big Number"}}
          {{if .Required}}
            <input type="number" name="{{.Name}}" value="{{.Data}}" required>
          {{else}}
            <input type="number" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{else if eq .Type "Check"}}
          {{ if eq .Data "t"}}
            <input type="checkbox" name="{{.Name}}" checked>
          {{else}}
            <input type="checkbox" name="{{.Name}}">
          {{end}}

        {{else if eq .Type "Data"}}
          {{ if .Required}}
            <input type="text" name="{{.Name}}" value="{{.Data}}" required>
          {{ else }}
            <input type="text" name="{{.Name}}" value="{{.Data}}">
          {{ end }}

        {{else if eq .Type "Date"}}
          {{ if .Required }}
            <input type="date" name="{{.Name}}" value="{{.Data}}" required>
          {{ else }}
            <input type="date" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{ else if eq .Type "Datetime"}}
          {{ if .Required }}
            <input type="datetime-local" name={{.Name}} value="{{.Data}}" required>
          {{else}}
            <input type="datetime-local" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{else if eq .Type "Email"}}
          {{if .Required}}
            <input type="email" name="{{.Name}}" value="{{.Data}}" required>
          {{else}}
            <input type="email" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{else if eq .Type "File"}}
          {{if ne .Data ""}}
            <a href="{{.Data}}">View File</a><br>
          {{end}}

          {{if .Required}}
            <input type="file" name="{{.Name}}" required>
          {{else}}
            <input type="file" name="{{.Name}}">
          {{end}}

        {{else if eq .Type "Float"}}
          {{if .Required}}
            <input type="number" step="0.0000001" name="{{.Name}}" value="{{.Data}}" required>
          {{else}}
            <input type="number" step="0.0000001" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{else if eq .Type "Image"}}
          {{if ne .Data ""}}
            <img class="image-field" src="{{.Data}}" alt="An Image" /><br>
          {{end}}

          {{if .Required}}
            <input type="file" name="{{.Name}}" accept=".png, .jpg, .jpeg" required>
          {{else}}
            <input type="file" name="{{.Name}}" accept=".png, .jpg, .jpeg">
          {{end}}

        {{else if or (eq .Type "Int") (eq .Type "Link")}}
          {{if .Required}}
            <input type="number" name="{{.Name}}" value="{{.Data}}" required>
          {{else}}
            <input type="number" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{else if eq .Type "Read Only" }}
          <input type="text" name="{{.Name}}" value="{{.Data}}" disabled/>

        {{ else if eq .Type "Select"}}
          <select name="{{.Name}}">
            <option selected>{{.Data}}</option>
            {{range .OtherOptions}}
              <option>{{.}}</option>
            {{end}}
          </select>

        {{else if eq .Type "Table"}}
        <input type="hidden" name="rows-count-for-{{.Name}}" value="1" />
        {{$tableName := .Name}}
        <table id="{{.Name}}">
          <thead>
            <tr>
              <td>No</td>
              {{$childTableData := index $.TableData .Name}}
              {{$oneRow := index $childTableData 0}}
              {{range $oneRow}}
                <td>{{.DocData.Name}}</td>
              {{end}}
            </tr>
          </thead>
          <tbody>
            {{range $index, $element := $childTableData}}
              <tr>
                <td>{{call $.Add $index 1}}</td>
                {{range $element}}
                  <td>
                    {{if eq .Type "Big Number"}}
                      {{if .Required}}
                        <input type="number" name="{{.Name}}" value="{{.Data}}" required>
                      {{else}}
                        <input type="number" name="{{.Name}}" value="{{.Data}}">
                      {{end}}

                    {{else if eq .Type "Check"}}
                      {{ if eq .Data "t"}}
                        <input type="checkbox" name="{{.Name}}-{{call $.Add $index 1}}" checked>
                      {{else}}
                        <input type="checkbox" name="{{.Name}}-{{call $.Add $index 1}}">
                      {{end}}

                    {{else if eq .Type "Data"}}
                      {{ if .Required}}
                        <input type="text" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{ else }}
                        <input type="text" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{ end }}

                    {{else if eq .Type "Date"}}
                      {{ if .Required }}
                        <input type="date" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{ else }}
                        <input type="date" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{end}}

                    {{ else if eq .Type "Datetime"}}
                      {{ if .Required }}
                        <input type="datetime-local" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{else}}
                        <input type="datetime-local" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{end}}

                    {{else if eq .Type "Email"}}
                      {{if .Required}}
                        <input type="email" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{else}}
                        <input type="email" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{end}}

                    {{else if eq .Type "Float"}}
                      {{if .Required}}
                        <input type="number" step="0.0000001" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{else}}
                        <input type="number" step="0.0000001" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{end}}

                    {{else if or (eq .Type "Int") (eq .Type "Link")}}
                      {{if .Required}}
                        <input type="number" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{else}}
                        <input type="number" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{end}}

                    {{else if eq .Type "Read Only" }}
                      <input type="text" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" disabled/>

                    {{ else if eq .Type "Select"}}
                      <select name="{{.Name}}-{{call $.Add $index 1}}">
                        <option selected>{{.Data}}</option>
                        {{range .OtherOptions}}
                          <option>{{.}}</option>
                        {{end}}
                      </select>

                    {{else if eq .Type "Text"}}
                      {{if .Required}}
                        <textarea name="{{.Name}}-{{call $.Add $index 1}}" required>{{.Data}}</textarea>
                      {{else}}
                        <textarea name="{{.Name}}-{{call $.Add $index 1}}">{{.Data}}</textarea>
                      {{end}}

                    {{else if eq .Type "URL"}}
                      {{if .Required}}
                        <input type="url" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}" required>
                      {{else}}
                        <input type="url" name="{{.Name}}-{{call $.Add $index 1}}" value="{{.Data}}">
                      {{end}}

                    {{end}}
                  </td>
                {{end}}
                <td><button type="button" id="delete-row-{{$tableName}}-{{call $.Add $index 1}}" class="delete-row-btn">Delete</button></td>
              </tr>
            {{end}}
          </tbody>
        </table>
        <button type="button" class="add-row">Add Row</button>

        {{else if eq .Type "Text"}}
          {{if .Required}}
            <textarea name="{{.Name}}" required>{{.Data}}</textarea>
          {{else}}
            <textarea name="{{.Name}}">{{.Data}}</textarea>
          {{end}}

        {{else if eq .Type "URL"}}
          {{if .Required}}
            <input type="url" name="{{.Name}}" value="{{.Data}}" required>
          {{else}}
            <input type="url" name="{{.Name}}" value="{{.Data}}">
          {{end}}

        {{end}}
      </div>
    {{end}}

    <div>
      {{ if $.UpdatePerm }}
        <input type="submit" value="Save" >
      {{ end}}
    </div>
  </form>

{{end}}


{{define "scripts"}}
  {{ if eq $.UpdatePerm false}}
    <script>
    $(document).ready(function() {
      $('input, textarea, select').attr('disabled', 'disabled');
    })
    </script>
  {{end}}

  <script>
  function setRowsCount(table) {
    var tid = $(table).attr('id');
    $('input[name=rows-count-for-' + tid + ']').val( $('tbody tr', table).length );
  }


  function deleteRowHandler(e) {
    e.preventDefault();

    var parentTable = $(e.target).parents('table');
    $(e.target).parents('tr').remove();
    setRowsCount(parentTable);

    // reset the numbers
    $('tbody tr', parentTable).each(function(i, el) {
      var newNo = i + 1;
      var strNewNo = newNo.toString()
      $('td:first', el).text(strNewNo);
      $('.delete-row-btn', el).attr('id', 'delete-row-' + strNewNo);

      $('input, textarea, select', el).each(function(ii, elel) {
        var elelname = $(elel).attr('name');
        for (var j = 2; j < 4; j++) {
          if (elelname[elelname.length-j] == "-") {
            var newName = elelname.substr(0, elelname.length-j) + "-" + strNewNo;
            $(elel).attr("name", newName);
            break
          }
        }
      });

    });
  }


  $(document).ready(function() {
    $('table').each(function(i, el) {
      var tableid = $(el).attr('id');
      $('#delete-row-' + tableid + "-1").hide();

      setRowsCount(el);
    });

    $('.delete-row-btn').click(deleteRowHandler);

    $('.add-row').click(function(e) {
      var table = $(e.target).prev();
      var currentNo = parseInt($('tr:last td:first', table).text());
      var newNo = currentNo + 1;
      var html = $('tr:last', table).html();
      var re = new RegExp(currentNo.toString(), 'g');
      html = html.replace(re, newNo.toString());

      html = "<tr>" + html + "</tr>";
      $('tbody', table).append(html);
      $('tr:last input, tr:last textarea', table).val("");
      var newDR = '#delete-row-' + $(table).attr('id') + '-' + newNo.toString()
      $(newDR).click(deleteRowHandler);
      $(newDR).show();
      autosize( $("textarea", table));

      $('html, body').scrollTop($(document).height());
      setRowsCount(table);
    });

  });
  </script>
{{end}}
