{{define "title"}}List Document Structures{{end}}

{{define "styles"}}
  <style>
  li {
    margin-bottom: 20px;
  }
  a {
    margin-right: 20px;
  }

  .view-link {
    text-decoration: none;
    color: skyBlue;
  }
  .view-link:hover {
    text-decoration: underline;
  }
  .button-look {
    text-decoration: none;
    background-color: gray;
    color: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
  }
  .button-look:hover {
    background-color: #ccc;
  }
  </style>
{{end}}


{{define "main"}}
  <h3>List of Document Structures</h3>
  <ol>
  {{range .DocumentStructures}}
    <li>
      {{if .ChildTable}}
        <span>{{.DSName}} (A Child Table)</span>
      {{else}}
        <a class='view-link' href='/list/{{.DSName}}/'>{{.DSName}}</a>
        <a class="button-look" href='/create/{{.DSName}}/'>Create Document</a>
      {{end}}
      <a class="button-look" href="/view-document-structure/{{.DSName}}/">View Document Structure</a>
      <a class='button-look' href='/delete-document-structure/{{.DSName}}/'>Delete</a>
      <a class="button-look" href='/new-ds-from-template/{{.DSName}}/'>Create a similar Document Structure</a>
    </li>
  {{end}}
  </ol>

  <h4><a href="/new-document-structure/">New Document Structure</a></h4>
{{end}}
