{{define "title"}}Manage Document Structure Group "{{.DSGroup}}" {{end}}

{{define "styles"}}
<style>
  form div {
    margin-bottom: 10px;
  }
  .dtext {
    width: 200px;
  }
  .link {
    width: 300px;
  }
  table {
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 10px;
  }
</style>
{{end}}

{{define "main"}}
<h3>Manage Document Structure Group "{{.DSGroup}}" </h3>

<h4>Add/Remove Document Structures to this Group</h4>

<form method="post" action="/update-dsgroup-onds/{{.DSGroup}}/">

  <div>
    {{range $i, $elem := .DSList}}
      <label>
        <input type="checkbox" name="selected-dss" value="{{$elem}}"
        {{if call $.IsChecked $elem}} checked {{end}} />
        {{$elem}}
      </label><br>
    {{end}}
  </div>

  <div>
    <input type="submit" value="Update" />
  </div>
</form>

<h4>Add Extra Links to this Group</h4>
<p class="help">Extra links are displayed alongside the document structures.</p>

<form method="post" action="/update-dsgroup-onlinks/{{.DSGroup}}/">
  <table>
    <thead>
      <tr>
        <td>No</td>
        <td>Display Text</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><input type="text" class="dtext" name="dtext-1" required /></td>
        <td><input type="url" class="link" name="link-1" required /></td>
        <td><button class='delete-link-btn' id="delete-link-1">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <button type="button" id="add-link-btn">Add Link</button>
  </div><br>

  <div>
    <input type="submit" value="Add All" />
  </div>
</form>

<h4>Delete Extra Links from this Group</h4>

<ol>
  {{range .ExtraLinks}}
    <li>
      <b>Display Text</b>: {{.DText}}<br>
      <b>Link</b>: {{.Link}}<br>
      <a href="/delete-extra-link/{{$.DSGroup}}/{{.Id}}/">Delete</a>
    </li>
  {{end}}
</ol>
{{end}}


{{define "scripts"}}
<script>
  function deleteLinkHandler(e) {
    e.preventDefault();
    $(e.target).parents('tr').remove();
    // reset the numbers
    $('tbody tr').each(function(i, el) {
      var newNo = i + 1;
      var strNewNo = newNo.toString()
      $('td:first', el).text(strNewNo);
      $('.dtext', el).attr('name', 'dtext-' + strNewNo);
      $('.link', el).attr('name', 'link-' + strNewNo);
      $('.delete-link-btn', el).attr('id', 'delete-link-' + strNewNo);
    });
  }

  $(document).ready(function() {
    $('#delete-link-1').hide();

    $('#add-link-btn').click(function(e) {
      e.preventDefault();

      var currentNo = parseInt($('tr:last td:first').text());
      var newNo = currentNo + 1;
      var html = $('tr:last').html();
      var re = new RegExp(currentNo.toString(), 'g');
      html = html.replace(re, newNo.toString());

      html = "<tr>" + html + "</tr>";
      $('tbody').append(html);

      $('#delete-link-' + newNo.toString()).click(deleteLinkHandler);
      $('#delete-link-' + newNo.toString()).show();
      autosize($('textarea[name=other-options-' + newNo.toString() + ']'));

      $('.dtext, .link', 'tr:last').each(function(i, el) {
        $(el).css('border', '1px solid gray');
      });


      $('html, body').scrollTop($(document).height());
    });
  });
</script>
{{end}}
