{{define "title"}}QF Page{{end}}


{{define "styles"}}
<style>
div.info {
  border-bottom: 3px solid gray;
  margin-bottom: 20px;
  width: 600px;
}
li {
  margin-bottom: 10px;
}
</style>
{{end}}


{{define "main"}}
  <h3>QF Page</h3>
  <p>
    This page contains all the links to the features of QF.<br>
    The links here are only accessible by the administrator.
  </p>

  <div class="info">
    <h4>Users And Roles</h4>
    <ol>
      <li>
        <a href="/roles-view/">Roles</a><br>
        For the creation, listing and deletion of roles.
      </li>
      <li>
        <a href="/users-to-roles-list/">Users And Roles Association</a><br>
        A listing of the users and the roles attached to the users. It further
        provides links to edit the association.
      </li>
  </div>

  <div class="info">
    <h4>Document Structures and Aliases</h4>
    <ol>
      <li>
        <a href="/new-document-structure/">New Document Structure</a><br>
        A document structure is a collection of data that leads to creation of form pages.
        This creates a new document structure.
      </li>
      <li>
        <a href="/list-document-structures/">List Document Structures</a><br>
        This list the document structures and provides links to create, view document structure,
        view created lists and delete document structures.<br>
        In the view page of document structures you have links to edit the document structure,
        edit its permissions and add approvals framework to it.<br>
      </li>
      <li>
        <a href="/aliases-one/">Style One of document Aliases</a><br>
        This is the first style of creating document aliases. This feature given many new aliases
        to a single document structure. There is complete control over the naming of the aliases.
      </li>
      <li>
        <a href="/aliases-two/">Style Two of Document Structure Aliases</a><br>
        This is the second style of creating document structure aliases. This uses a prefix or
        suffix to create multiple aliases on one or many document structures.
      </li>
    </ol>
  </div>

  <div class="info">
    <h4>Buttons</h4>
    <ol>
      <li>
        <a href="/create-button/">Create Button</a><br>
        This creates a new button which is shared across document structures and their aliases. The button
        would point to a link which would run the actions of the button. The administrator would write
        the receiving link.
      </li>
      <li>
        <a href="/list-buttons/">List Buttons </a><br>
        This list the buttons created and some details about the buttons. It also contains links to delete
        buttons.
      </li>
  </div>

  <div class="info">
    <h4>Roster</h4>
    <ol>
      <li>
        <a href="/new-roster/">New Roster</a><br>
        This creates a roster. Roster is used for routine tasks.<br>
        The roster would need a document structure which would define the participants in the roster to be created.
        For comfort sake, there are no roster permissions. Instead it uses the create and view of the underlying
        document structure.
      </li>
      <li>
        <a href="/list-rosters/">List Rosters </a><br>
        This list contains the rosters that have been created in an installation and is only accessible to the admin.
        It points to the links to fill roster, view all roster fillings and deletion of rosters.
      </li>
    </ol>
  </div>
{{end}}
