{{define "title"}}Roles List And Creation{{end}}


{{define "styles"}}
  <style>
  #error-box {
    margin-bottom: 5px;
    display: none;
  }
  </style>
{{end}}


{{define "main"}}
  <h3>Roles List And Creation</h3>
  {{if .NumberOfRoles}}
  <ol>
    {{ range .Roles }}
      <li>{{.}} <a href="/delete-role/{{.}}/">Delete</a></li>
    {{end}}
  </ol>
  {{ else }}
    <p>You have not defined any roles </p>
  {{ end }}

  <span id='error-box'></span>
  <form method="post" action="/new-role/" >
    <div>
      <label for='id-role'>Name of role</label> &nbsp;&nbsp;
      <input type="text" id="id-role" name="role" required/>
    </div>
    <br>
    <div>
      <input type="submit" value="Create Role" />
    </div>
  </form>
{{end}}
