{{define "title"}} Suggest Create Document of {{.DocumentStructure}} {{end}}


{{define "main"}}
  <h1>Your Page is Empty</h1>
  {{if eq .ListType "true-list"}}
    <p>No document has been created under these Document Structure.</p>
  {{else if eq .ListType "date-list"}}
    <p>No document is under this date range</p>
  {{else if eq .ListType "search-list"}}
    <p>Your search returned no results</p>
  {{else if eq .ListType "approved-list"}}
    <p>No document is approved under this document structure</p>
  {{else if eq .ListType "unapproved-list"}}
    <p>No document is unapproved under this document structure</p>
  {{end}}

  {{if .CreatePerm}}
    <p>
      Visit <a href="/create/{{.DocumentStructure}}/">Document Creation Page</a> to create
      a document.
    </p>
  {{else}}
    <div>
      Possible actions are:
      <ol>
        <li>Come back later</li>
        <li>Contact the administrator</li>
      </ol>
    </div>
  {{end}}

{{end}}
