{{define "title"}}New Document Structure{{end}}


{{define "styles"}}
  <style>
  thead {
    font-weight: bold;
  }
  tbody {
    vertical-align: top;
  }
  td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
  }
  .field-label, #id-ds-name, #id-help-text {
    width: 300px;
  }
  .other-options {
    width: 300px;
  }
  #error-box {
    display: none;
    color: red;
  }
  form div {
    margin-bottom: 10px;
  }
  </style>
{{end}}


{{define "main"}}
  <h1>New Document Structure</h1>
  <span id='error-box'></span>
  <form method="post" action="">
    <div>
      <label for="id-ds-name">Document Name</label>
      <input type="text" name="ds-name" id="id-ds-name" />
    </div>
    <div>
      <label for="id-child-table">Is Child Table?</label>
      <input type="checkbox" name="child-table" id="id-child-table" />
    </div>
    <div>
      <label for="id-help-text" style="vertical-align:top;">Help Text </label>
      <textarea name="help-text" id="id-help-text"></textarea>
    </div>

    <h3>Fields</h3>
    <span>Help</span><br>
    <ol>
      <li>Please note that you can't use the following names for your fields: id, created, created_by,
      modified</li>
      <li>You can't use any SQL keyword</li>
      <li>Please note that the first three fields would be in the list view of the documents.</li>
      <li>Please note that files, section break and tables are excluded from list view</li>
      <li>All fields which are not text or table or section break will have indexes applied to them.</li>
      <li>For select fields, put the list of options each separated by a newline in the Other Options textarea.</li>
      <li>For link fields (foreign keys between QF Documents), put a QF document structure name in the Other options textarea</li>
      <li>
        For table fields, put a QF document structure in the Other Options textarea that has being created
        with child_table option selected
      </li>
      <li>
        For file fields if you want to accept only some file types: enter the file type(s) (without dot) and add it
        to the Other Options textarea. The file types must be separated by newlines.
      </li>
      <li>
        Child table types must not have files, section break or tables.
      </li>
      <li>Every field that is not a text, table, file is indexed</li>
      <li>ReadOnly / Calculated option has no effect on tables and files</li>
    </ol>

    <table>
      <thead>
        <tr>
          <td>No</td>
          <td>Label</td>
          <td>Name</td>
          <td>Type</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><input type="text" class="field-label" name="label-1" /></td>
          <td><input type="text" class="field-name" name="name-1" /></td>
          <td>
            <select name="type-1" class="field-type">
              <option>Big Number</option>
              <option>Check</option>
              <option selected="selected">Data</option>
              <option>Date</option>
              <option>Datetime</option>
              <option>Email</option>
              <option>File</option>
              <option>Float</option>
              <option>Image</option>
              <option>Int</option>
              <option>Link</option>
              <option>Section Break </option>
              <option>Select</option>
              <option>Table</option>
              <option>Text</option>
              <option>URL</option>
            </select>
          </td>
          <td>
            <label>Required <input type="checkbox" class="option-required" name="options-1" value="required" /></label>
            <label>Unique <input type="checkbox" class="option-unique" name="options-1" value="unique" /></label>
            <label>ReadOnly / Calculated <input type="checkbox" class="option-readonly" name="options-1" value="readonly" /></label>
            <br>
            <label>Other Options </label><br><textarea class="other-options" name="other-options-1"></textarea><br>
          </td>
          <td><button class='delete-field-btn' id="delete-field-1">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <button id='new-field'>Add Field</button><br><br>
    <button type="submit">Create</button>
  </form>
{{end}}


{{define "scripts"}}
  <script>
  var docNames = "{{.DocumentStructures}}";
  var childTableDocumentStructures = "{{.ChildTableDocumentStructures}}";

  function deleteFieldHandler(e) {
    e.preventDefault();
    $(e.target).parents('tr').remove();
    // reset the numbers
    $('tbody tr').each(function(i, el) {
      var newNo = i + 1;
      var strNewNo = newNo.toString()
      $('td:first', el).text(strNewNo);
      $('.field-label', el).attr('name', 'label-' + strNewNo);
      $('.field-name', el).attr('name', 'name-' + strNewNo);
      $('.field-type', el).attr('name', 'type-' + strNewNo);
      $('.option-required', el).attr('name', 'options-' + strNewNo);
      $('.option-unique', el).attr('name', 'options-' + strNewNo);
      $('.option-readonly', el).attr('name', 'options-' + strNewNo);
      $('.other-options', el).attr('name', 'other-options-' + strNewNo);
      $('.delete-field-btn', el).attr('id', 'delete-field-' + strNewNo);
    });
  }

  $(document).ready(function() {
    $('#delete-field-1').hide();

    $('#new-field').click(function(e) {
      e.preventDefault();

      var currentNo = parseInt($('tr:last td:first').text());
      var newNo = currentNo + 1;
      var html = $('tr:last').html();
      var re = new RegExp(currentNo.toString(), 'g');
      html = html.replace(re, newNo.toString());

      html = "<tr>" + html + "</tr>";
      $('tbody').append(html);

      $('#delete-field-' + newNo.toString()).click(deleteFieldHandler);
      $('#delete-field-' + newNo.toString()).show();
      autosize($('textarea[name=other-options-' + newNo.toString() + ']'));

      $('.field-label, .field-name', 'tr:last').each(function(i, el) {
        $(el).css('border', '1px solid gray');
      });


      $('html, body').scrollTop($(document).height());
    });

    $('form button[type=submit]').click(function(e) {
      e.preventDefault();
      $('#error-box').hide();
      // validation

      if ( $('#id-ds-name').val() == "") {
        $('#id-ds-name').css('border', '1px solid red');
        return;
      } else {
        $('#id-ds-name').css('border', '1px solid gray');
      }

      docNamesList = docNames.split(',,,');
      ctdsl = childTableDocumentStructures.split(',,,');

      if ( docNamesList.indexOf( $('#id-ds-name').val() ) != -1 ) {
        $('#error-box').text('The document name is already taken.');
        $('#error-box').show();
        $('#id-ds-name').css('border', '1px solid red');
        return;
      } else {
        $('#error-box').hide();
      }

      var passedValidations = true;
      $('.field-label, .field-name').each(function(i, el) {
        if ($(el).val() == "" ) {
          $(el).css('border', '1px solid red');
          passedValidations = false;
        } else {
          $(el).css('border', '1px solid gray');
        }
      });

      var names = [];
      $('.field-name').each(function(i, el) {
        names.push( $(el).val() );
      });
      var names_set = new Set(names);
      if (names_set.size != names.length) {
        $('#error-box').text('Duplicate field names.');
        $('#error-box').show();
        return;
      }

      $('.field-name').each(function(i, el) {
        if ( $(el).val() == "id" || $(el).val() == "created" || $(el).val() == "owner" || $(el).val() == "modified") {
          $(el).css('border', '1px solid red');
          passedValidations = false;
        } else {
          $(el).css('border', '1px solid gray');
        }
      })

      $('.field-type').each(function(i, el) {
        var data = {};
        if ( $(el).val() == "Link") {
          var ot = $(el).parents('tr').find(".other-options");
          if ( $(ot).val() == "" ) {
            $('#error-box').text("If you have a link field, also submit an existing document structure in the other options field.")
            $('#error-box').show();
            $(ot).css('border', '1px solid red');
            passedValidations = false;
          }
          else if ( docNamesList.indexOf( $(ot).val()) == -1) {
            $('#error-box').text("The other options value is not a created document structure.")
            $('#error-box').show();
            $(ot).css('border', '1px solid red');
            passedValidations = false;
          } else {
            $('#error-box').hide();
            $(ot).css('border', '1px solid gray');
          }
        }

        if ( $(el).val() == "Select") {
          var ot = $(el).parents('tr').find('.other-options');
          if ( $(ot).val() == "") {
            $('#error-box').text("When you have a select field, also submit the options seperated by newlines in the other options field.");
            $('#error-box').show();
            $(ot).css('border', '1px solid red');
            passedValidations = false;
          } else {
            $('#error-box').hide();
            $(ot).css('border', '1px solid gray');
          }

        }

        if ( $(el).val() == "File" || $(el).val() == "Image" || $(el).val() == "Section Break") {
          if ( $('#id-child-table').is(":checked")) {
            $('#error-box').text("A child table cannot have a File or Image or Section Break field.")
            $('#error-box').show();
            $(el).css('border', '1px solid red');
            passedValidations = false;
          } else {
            $('#error-box').hide();
            $(el).css('border', '1px solid gray');
          }
        }

        if ( $(el).val() == "Table") {
          if ( $('#id-child-table').is(":checked")) {
            $('#error-box').text("A child table document cannot have a table has field.");
            $('#error-box').show();
            $(el).css('border', '1px solid red');
            passedValidations = false;
          } else {
            $('#error-box').hide();
            $(el).css('border', '1px solid gray');
          }

          var ot = $(el).parents('tr').find('.other-options');
          if ( $(ot).val() == "" ) {
            $('#error-box').text("If you have a table field, also submit an existing document structure in the other options field.")
            $('#error-box').show();
            $(ot).css('border', '1px solid red');
            passedValidations = false;
          }
          else if ( ctdsl.indexOf( $(ot).val()) == -1) {
            $('#error-box').text("The other options value is not a created document structure with child table option selected.")
            $('#error-box').show();
            $(ot).css('border', '1px solid red');
            passedValidations = false;
          } else {
            $('#error-box').hide();
            $(ot).css('border', '1px solid gray');
          }


        }
      });

      // submission
      if (passedValidations) {
        $('form').submit();
      }
    });
  });

  </script>
{{end}}
