{{define "title"}}Users List {{end}}

{{define "styles"}}
  <style>
    thead {
      font-weight: bold;
    }
    td {
      vertical-align: top;
    }
    tr {
      margin-bottom: 10px;
    }
  </style>
{{end}}

{{define "main"}}
  <h3>Users List</h3>

  <table>
    <thead>
      <tr>
        <td>UserId</td>
        <td>Name</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{ range .UserInfos}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Firstname}} {{.Surname}} </td>
          <td><a href='/edit-user-roles/{{.ID}}/'>Edit</a></td>
        </tr>
      {{ end }}
    </tbody>
  </table>

  <br><br>
  <div id="pagination">
      Pages:
      {{range .Pages}}
        <a class="pagination-link" href="/users-list/{{.}}/">{{.}}</a>
      {{end}}
  </div>
{{end}}
